<!-- One-ways binding -->
  <!-- interpolation -->
  {{title}}

  <!-- event binding () -->
  <button (click)="source = 'http://smalldata.io/img/sdl_logo.png'">Change image</button>

  <!-- property binding []-->
  <img [src]="source">

  <p [class]="blue">This is a para</p>

  <div [style.color]="myStyle">Diision</div>
  <a [attr.href]=""></a>

  <!-- Local template variable -->
  <input type="text" #myInput (keydown)="inputValue = myInput.value">{{inputValue}}
<!-- end of One-ways binding -->

<!-- Two-way binding -->
  <input type="text" [(ngModel)]="custom" placeholder="custom"> {{custom}}
<!-- end of Two-way binding -->

<!-- Built-in directives -->
<!-- *ngIf directive -->
<div *ngIf="custom == 'app'; else myBlock">
  <p>This is true</p>
</div>
<ng-template #myBlock>
  <div *ngIf="inputValue == 'changed'; else elseBlock">
    <p>Value is equal to changed</p>
  </div>
  <ng-template #elseBlock>
    <div>
      <p>This is false</p>
    </div>
  </ng-template>
</ng-template>


<!-- *ngFor -->
<table>
  <tr>
    <td>#</td>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  <tr *ngFor="let obj of myArray; let i = index">
    <td>{{i+1}}</td>
    <td>
      {{obj.name}}
    </td>
    <td>
      {{obj.phone}}
    </td>
  </tr>
</table>

<div>
  <p *ngFor="let myObj of myArray">Name is: {{myObj.name}} and phone is: {{myObj.phone}}</p>
</div>

<!-- [ngClass] = " {'class': condition} "-->
<p [ngClass]="{'inputClass':custom == 'myInput', 'newClass': custom == 'new'}">Ng class directive</p>

<!-- [ngSwitch] directive -->
<div [ngSwitch]="custom">
  <p *ngSwitchCase="'hello'">Hello</p>
  <p *ngSwitchCase="'bye'">bye</p>
  <p *ngSwitchDefault>Default</p>
</div>