.nav{
    height: 60px;
    background-color: #eee;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end
}
.nav-ul{
    list-style-type: none;
    margin-right: 50px;
}
.nav-ul li{
    display: inline-block;
    border: 1px solid gainsboro;
    background-color: rgb(255, 234, 234);
    border-radius: 3px;
    padding: 5px 10px;
    color: gray
}
.nav-ul li.active{
    background-color: coral;
    color: #eee;    
}